        <!-- Side-Nav-->
<aside class="main-sidebar hidden-print ">
    <section class="sidebar" id="sidebar-scroll">

        <div class="user-panel">
            <div class="f-left image"><img src="~/assets/images/doctor.png" alt="User Image" class="img-circle"></div>
            <div class="f-left info">
                <p>Шевченко Пётр</p>
                <p class="designation">Администратор <i class="icofont icofont-caret-down m-l-5"></i></p>
            </div>
        </div>
        <!-- sidebar profile Menu-->
        <ul class="nav sidebar-menu extra-profile-list">
            <li>
                <a class="waves-effect waves-dark" href="profile.html">
                    <i class="icon-user"></i>
                    <span class="menu-text">Профиль</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-dark" href="javascript:void(0)">
                    <i class="icon-settings"></i>
                    <span class="menu-text">Натройки</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-dark" href="javascript:void(0)">
                    <i class="icon-logout"></i>
                    <span class="menu-text">Выход</span>
                    <span class="selected"></span>
                </a>
            </li>
        </ul>
        <!-- Sidebar Menu-->
        <ul class="sidebar-menu">
            <li class="nav-level">Основное</li>
            <li id="reporting" class="treeview">
                <a class="waves-effect waves-dark" href="@Url.Action("Reporting", "Home")">
                    <i class="icon-chart"></i><span> Отчётность</span>
                </a>
            </li>
            <li id="appointment" class="treeview">
                <a class="waves-effect waves-dark" href="@Url.Action("Index", "Appointment")">
                    <i class="icon-calendar"></i><span> Запись на приём</span>
                </a>
            </li>
            <li class="nav-level">Справочники</li>
            <li id="clients" class="treeview">
                <a class="waves-effect waves-dark" href="@Url.Action("Index", "Customer")">
                    <i class="icon-user"></i><span> Клиенты</span>
                </a>
            </li>
            <li id="employees" class="treeview">
                <a class="waves-effect waves-dark" href="@Url.Action("Index", "Staff")">
                    <i class="icon-list"></i><span> Сотрудники</span>
                </a>
            </li>
            <li id="services" class="treeview">
                <a class="waves-effect waves-dark" href="@Url.Action("Index", "Service")">
                    <i class="icon-star"></i><span> Услуги</span>
                </a>
            </li>
            @*<li id="materials" class="treeview">
                <a class="waves-effect waves-dark" href="@Url.Action("Materials")">
                    <i class="icon-star"></i><span> Материалы</span>
                </a>
            </li>*@
        </ul>
    </section>
</aside>